
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" id="nav-logo" href="#">Dayspring Outreach Ministries</a>
    <ul class="nav">
      <li><%= link_to "Home", "home" %></li>
      <li><%= link_to "About", "about" %></li>
      <li><%= link_to "Help", "help" %></li>
    </ul>
  </div>
</div>
